<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KC/DC 2015 (Ember.js)</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/sponsors">Sponsors</a></li>
        <li><a href="#/speakers">Speakers</a></li>
        <li><a href="#/sessions">Sessions</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid">
  {{outlet}}
</div>