<div class="row">
  <div class="col-md-12">
    <h2>Sponsors</h2>
    {{#each model as |sponsor|}}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h3><a href="{{sponsor.url}}">{{sponsor.name}}</a></h3>
            <p>{{sponsor.contact}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>